{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>

<form method="post">
    {% csrf_token %}

    <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
    {{ form.username }}

    <label for="{{ form.password.id_for_label }}">Пароль</label>
    {{ form.password }}

    <button type="submit" class="contrast">Войти</button>

    <div class="small text-center" style="margin-top: 10px;">
        <a href="{% url 'users:password_reset' %}"><i>Забыли пароль?</i></a>
    </div>
</form>
{% endblock %}
