{% extends 'base.html' %}

{% block title %}Цитаты{% endblock %}

{% block content %}
<h2>Top 10 тегів</h2>
<ul>
    {% for tag in top_tags %}
        <li>
            <a href="{% url 'quotes:quotes_by_tag' tag.name %}">{{ tag.name }}</a>
            ({{ tag.num_quotes }})
        </li>
    {% endfor %}
</ul>
<h1>Цитаты</h1>

{% for quote in page_obj %}
<article style="margin-bottom: 20px">
    <blockquote>"{{ quote.text }}"</blockquote>
    <footer>
        — <a href="{% url 'quotes:author_detail' quote.author.id %}">{{ quote.author.fullname }}</a>
    </footer>

    {% if quote.tags %}
    <p style="margin-top: 10px; font-size: 0.9rem;">
        <strong>Теги:</strong>
        {% for tag in quote.tags.all %}
            <a href="{% url 'quotes:quotes_by_tag' tag.name %}" style="margin-right: 5px; text-decoration: underline;">
                {{ tag.name }}
            </a>
        {% empty %}
            <span style="color: gray;">Нет тегов</span>
        {% endfor %}
    </p>
    {% endif %}
</article>
{% empty %}
<p>Нет цитат.</p>
{% endfor %}
<div class="pagination" style="margin-top: 20px;">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
    {% endif %}

    <span style="margin: 0 10px;">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперёд →</a>
    {% endif %}
</div>

{% endblock %}
